@font-face {
  font-family: 'CoreSans45';
  src: url('../fonts/coresansa45regular-webfont.woff2') format('woff2'),
  url('../fonts/coresansa45regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'CoreSans55';
  src: url('../fonts/coresansa55medium-webfont.woff2') format('woff2'),
  url('../fonts/coresansa55medium-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'CoreSans65';
  src: url('../fonts/coresansa65bold-webfont.woff2') format('woff2'),
  url('../fonts/coresansa65bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
