@font-face {
  font-family: 'roboto';
  src: url('../fonts/Roboto.woff2') format('woff2'),
  url('../fonts/Roboto.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'robotoblack';
  src: url('../fonts/Robotoblack.woff2') format('woff2'),
  url('../fonts/Robotoblack.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'robotobold';
  src: url('../fonts/Robotobold.woff2') format('woff2'),
  url('../fonts/Robotobold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

