@font-face {
  font-family: 'quattrocento_sansbold';
  src: url('../fonts/quattrocentosans-bold-webfont.woff2') format('woff2'),
  url('../fonts/quattrocentosans-bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'quattrocento_sansitalic';
  src: url('../fonts/quattrocentosans-italic-webfont.woff2') format('woff2'),
  url('../fonts/quattrocentosans-italic-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'quattrocento_sansregular';
  src: url('../fonts/quattrocentosans-regular-webfont.woff2') format('woff2'),
  url('../fonts/quattrocentosans-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'rufina-bold-webfont';
  src: url('../fonts/rufina-bold-webfont.woff2') format('woff2'),
  url('../fonts/rufina-bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Quicksand Regular';
  src: url('../fonts/Quicksand Regular.woff2') format('woff2'),
  url('../fonts/Quicksand Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'juliussansone-regular-webfont';
  src: url('../fonts/juliussansone-regular-webfont.woff2') format('woff2'),
  url('../fonts/juliussansone-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'gildadisplay-regular-webfont';
  src: url('../fonts/gildadisplay-regular-webfont.woff2') format('woff2'),
  url('../fonts/gildadisplay-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}