body {
  position: relative;
  font-family: CoreSans45, Arial, sans-serif;
  font-size: 19px;
}

.breadcrumbs {
  margin: 0; padding: 0; /* Убираем отступы */
  color: #a7adb0;
  font-size: 14px;
  a {
    color: #a7adb0;
    font-size: 14px;
    border-bottom: 1px solid;
  }
}

.blue {
  background-color: #00aeef;
}

.blue:hover {
  background-color: #009cd7;
}

.green {
  background-color: #00b29b;
}

.effect {
  position: relative;
}

.effect:before {
  z-index: -1;
  position: absolute;
  content: "";
  bottom: 15px;
  height: 12px;
  left: 2px;
  width: 100%;
  top: 32%;
  max-width:150px;
  background: #777;
  box-shadow: 0 15px 10px rgba(0, 0, 0, .2);
  transform: rotate(-3deg);
}

.effect:after {
  z-index: -1;
  position: absolute;
  content: "";
  height: 12px;
  left: 0;
  width: 100%;
  top: 7px;
  max-width:220px;
  background: #777;
  box-shadow: 0 -6px 10px rgba(0, 0, 0, .2);
  transform: rotate(-3deg);
}

.breadcrumbs li {
  display: inline-block; /* Выстраиваем по горизонтали */
}
.breadcrumbs li::before {
  content: '/'; /* Разделитель */
  margin-left: 5px; /* Отступ слева */
  margin-right: 5px; /* Отступ справа */
  color: #a7adb0; /* Цвет разделителя */
}
.breadcrumbs li:first-child::before {
  content: ''; /* Убираем разделитель для первого пункта */
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.container {
  width: 1179px;
  margin: 0 auto;
}

.wrap {
    display: flex;
    justify-content: center;
}



