body {
  position: relative;
  font-family: roboto, Arial, sans-serif;
  font-size: 19px;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.container {
  width: 1179px;
  margin: 0 auto;
}

.wrap {
    display: flex;
    justify-content: center;
}


