.contacts {
  padding-top: 30px;
  margin-bottom: -12px;

  &__wrap {
    display: flex;
    justify-content: space-between;
    h3 {
      margin-top: 0;
      font-size: 20px;
      color: #4c4c4c;
      margin-bottom: 0;
    }
    ul {
      padding: 0;
      list-style-type: none;
      margin-top: 0;
      a {
        font-size: 16px;
        line-height: 30px;
        color: $accent-color;
        border-bottom: 1px solid;
      }
    }
  }

  &__item-right {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }

  &__button-mb {
    margin-bottom: 20px;
  }

  &__button-mt {
    margin-top: 38px;
  }
}

.bt-up {
  width: 67px;
  height: 67px;
  background-image: url(../img/btUp.jpg);
  border: none;
  outline: none;
  position: fixed;
  bottom: 20px;
  right: 1%;
  cursor: pointer;
  z-index: 999;
}

