.contacts {
  padding-top: 30px;
}

.contacts__wrap {
  display: flex;
  justify-content: space-between;
  h3 {
    margin-top: 0;
    font-size: 20px;
    color: #4c4c4c;
    margin-bottom: 0;
  }
  ul {
    padding: 0;
    list-style-type: none;
    margin-top: 0;
    a {
      font-size: 16px;
      line-height: 30px;
      color: #50b09b;
      border-bottom: 1px solid;
    }
  }
}

.but {
  padding: 10px 42px;
  border-radius: 3px;
  display: block;
  color: white;
  font-family: robotobold, Arial, sans-serif;
  font-size: 14.4px;
  text-transform: uppercase;
  border: none;
  background-color: #50b09b;
  cursor: pointer;
}

.blue {
  background-color: #00aeef;
}

.contacts__tel {
  font-size: 22px;
  color: #4c4c4c;
}