.contacts {
  padding-top: 30px;
  margin-bottom: -12px;
}

.contacts__wrap {
  display: flex;
  justify-content: space-between;
  h3 {
    margin-top: 0;
    font-size: 20px;
    color: #4c4c4c;
    margin-bottom: 0;
  }
  ul {
    padding: 0;
    list-style-type: none;
    margin-top: 0;
    a {
      font-size: 16px;
      line-height: 30px;
      color: $accent-color;
      border-bottom: 1px solid;
    }
  }
}

.contacts__item-right {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.but {
  border-radius: 3px;
  display: block;
  color: white;
  font-family: CoreSans65, Arial, sans-serif;
  font-size: 14.4px;
  text-transform: uppercase;
  border: none;
  background-color: $accent-color;
  cursor: pointer;
  text-align: center;
}

.but1 {
  padding: 10px 43px;
}

.but2 {
    padding: 10px 22px;
  }

.but3 {
  padding: 10px 41px;
}

.blue {
  background-color: #00aeef;
}

.red {
  background-color: #f03720;
  margin-bottom: 15px;
}

.bt-up {
  width: 67px;
  height: 67px;
  background-image: url(../img/btUp.jpg);
  border: none;
  outline: none;
  position: fixed;
  bottom: 20px;
  right: 1%;
  cursor: pointer;
  z-index: 999;
}

