.footer {
  background-color: #50b09b;
}

.footer__text {
  font-size: 14px;
  line-height: 15px;
  color: white;
}

.footer__social {
  display: flex;
}

.footer__item-text {
  color: white;
  font-size: 16px;
  line-height: 15px;
  margin-right: 22px;
}

.footer__item-link {
  margin-right: 5px;
}

.footer__block {
  display: flex;
  justify-content: space-between;
}

.contacts__tel {
  font-size: 22px;
  color: #4c4c4c;
}

.contacts__text {
  font-size: 16px;
  color: #4c4c4c;
  width: 197px;
  text-align: right;
}

.footer__text-link {
  font-size: 14px;
  line-height: 26px;
  color: white;
  border-bottom: 1px solid;
}

.footer__text-first {
  padding-top: 14px;
}

.footer__item-img {
  margin-right: 10px;
}