.modal-personal {
  width: 690px;
  height: 346px;
  background-color: #fff;
  box-shadow: 2px 4px 36px rgba(0, 0, 0, 0.2);
  position: fixed;
  top: 100px;
  left: 50%;
  z-index: 1000;
  margin-left: -345px;
  display: none;
}

.modal-personal__wrap {
  padding: 44px 53px 44px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  z-index: 0;
  height: 265px;
  h2 {
    margin-top: 0;
    text-transform: uppercase;
    color: #50b09b;
    font-size: 32px;
    margin-bottom: 10px;
  }
  input {
    width: 570px;
    height: 40px;
    border-radius: 14px;
    border: 1px solid #b2b2b2;
    font-size: 16px;
    padding-left: 18px;
    color: #4c4c4c;
    outline: none;
    box-shadow: inset 2px 4px 36px rgba(0, 0, 0, 0.2);
  }
}

.modal-personal__close {
  position: absolute;
  width: 19px;
  height: 19px;
  background-image: url(../img/close.png);
  background-color: #fff;
  border: none;
  right: 18px;
  top: 18px;
  cursor: pointer;
  outline: none;
}

.modal-personal__but {
  padding: 10px 80px;
  margin-top: 14px;
  margin-bottom: 12px;
}

.modal-personal__links {
  a {
    color: #4c4c4c;
    font-size: 16px;
    text-decoration: underline;
  }
  a:first-child {
    margin-right: 135px;
  }
}

.overlay {
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, .83);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  display: none;
}

.open-modal {
  overflow-y: hidden;
  padding-right: 17px;
}