.offices {
  margin-bottom: 50px;
}

.offices__title {
  text-align: center;
  font-size: 36px;
  color: #4c4c4c;
  margin-top: 41px;
  margin-bottom: 22px;
}

.offices__form {
  display: flex;
  justify-content: space-between;
  margin-bottom: 29px;
}

.offices__form-wrap {
  display: flex;
  align-items: center;
  p {
    margin: 0;
    font-size: 17px;
  }
}

.offices__switch {
  width: 46px;
  height: 20px;
  position: relative;
  margin-right: 16px;
  input {
    opacity: 0;
    cursor: pointer;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 100;
  }
}

.offices__switch label {
  display: block;
  width: 46px;
  height: 20px;
  position: relative;
  background: white;
  border: 1px solid #cccccc;
  border-radius: 40px;
}

.offices__switch label i {
  display: block;
  height: 16px;
  width: 17px;
  position: absolute;
  left: 0;
  top: 1px;
  z-index: 2;
  border-radius: inherit;
  background: #b2ac9e; /* Fallback */
  background: linear-gradient(#f7f2f6, #b2ac9e);
  box-shadow:
          inset 0 1px 0 white,
          0 0 8px rgba(0,0,0,0.3),
          0 5px 5px rgba(0,0,0,0.2);
}

.offices__switch input:checked ~ label {
  background: #50b09b;
}

.offices__switch input:checked ~ label i {
  left: auto;
  right: -1%;
}

.offices__search-form {
  display: flex;
}

.offices__search {
  width: 332px;
  height: 40px;
  border-top-left-radius: 14px;
  border-bottom-left-radius: 14px;
  border: 1px solid #b2b2b2;
  font-size: 16px;
  padding-left: 18px;
  box-shadow: inset 3px 3px 10px rgba(0, 0, 0, 0.2);
  color: #4c4c4c;
  outline: none;
}

.offices__search-but {
  border: 1px solid #b2b2b2;
  width: 48px;
  height: 40px;
  border-top-right-radius: 14px;
  border-bottom-right-radius: 14px;
  cursor: pointer;
  background: #50b09b url(../img/searchIcon.png) no-repeat 13px 9px;
  outline: none;
}

.offices__items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 21px;
}

.offices__item {
  position: relative;
  width: 283px;
  height: 178px;
  border-radius: 13px;
  background: linear-gradient(to top, #1b8bb3, #38bbec);
  display: flex;
  flex-direction: column;
  padding: 27px 5px 5px 91px;
  color: white;
  margin-bottom: 20px;
  h3 {
    margin-top: 7px;
    width: 197px;
    font-size: 22px;
    margin-bottom: 0;
  }
  p {
    font-size: 16px;
    margin-top: 11px;
    width: 189px;
  }
}

.offices__but {
  width: 100px;
  padding: 5px 35px;
  border-radius: 2px;
  text-transform: uppercase;
  background-color: #fff;
  color: #00aeef;
  font-size: 16px;
  margin-bottom: 0;
}

#office__title3 {
  margin: 20px 0 17px;
}

.offices__item1:before {
  position: absolute;
  content: "";
  width: 54px;
  height: 42px;
  background-image: url(../img/drops.png);
  top: 40px;
  left: 21px;
}

.offices__item2:before {
  position: absolute;
  content: "";
  width: 41px;
  height: 42px;
  background-image: url(../img/syringe.png);
  top: 40px;
  left: 21px;
}

.offices__item3:before {
  position: absolute;
  content: "";
  width: 42px;
  height: 42px;
  background-image: url(../img/stomach.png);
  top: 40px;
  left: 21px;
}

.offices__item4:before {
  position: absolute;
  content: "";
  width: 45px;
  height: 42px;
  background-image: url(../img/heart.png);
  top: 40px;
  left: 21px;
}

.offices__item5:before {
   position: absolute;
   content: "";
   width: 42px;
   height: 42px;
   background-image: url(../img/tablet.png);
   top: 40px;
   left: 21px;
 }

.offices__item6:before {
  position: absolute;
  content: "";
  width: 32px;
  height: 42px;
  background-image: url(../img/microscope.png);
  top: 40px;
  left: 21px;
}

.offices__button {
  padding: 10px 59px;
  border-radius: 3px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  color: white;
  font-family: robotobold, Arial, sans-serif;
  font-size: 14.4px;
  text-transform: uppercase;
  border: none;
  background-color: #00aeef;
  cursor: pointer;
}

.effect {
  position: relative;
}

.effect:before {
  z-index: -1;
  position: absolute;
  content: "";
  bottom: 15px;
  height: 12px;
  left: 2px;
  width: 100%;
  top: 32%;
  max-width:150px;
  background: #777;
  box-shadow: 0 15px 10px rgba(0, 0, 0, .2);
  transform: rotate(-3deg);
}

.effect:after {
  z-index: -1;
  position: absolute;
  content: "";
  height: 12px;
  left: 1px;
  width: 100%;
  top: 7px;
  max-width:220px;
  background: #777;
  box-shadow: 0 -6px 10px rgba(0, 0, 0, .2);
  transform: rotate(-3deg);
}