.offices {
  margin-bottom: 50px;
}

.offices__title {
  text-align: center;
  font-size: 36px;
  color: #4c4c4c;
  margin-top: 41px;
  margin-bottom: 22px;
}

.offices__title-standards {
  font-size: 32px;
  color: #4c4c4c;
  margin-top: 41px;
  margin-bottom: 59px;
}

.offices__text-standards {
  font-size: 16px;
  color: #4c4c4c;
  margin-bottom: 59px;
}

.offices__form {
  display: flex;
  justify-content: space-between;
  margin-bottom: 29px;
}

.offices__form-wrap {
  display: flex;
  align-items: center;
  p {
    margin: 0;
    font-size: 17px;
  }
}

.offices__switch {
  width: 46px;
  height: 20px;
  position: relative;
  margin-right: 16px;
  input {
    opacity: 0;
    cursor: pointer;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 100;
  }
  input:hover ~ label {
    background: #e0dfdf;
    border: 1px solid #909090;
  }
}

.offices__switch label {
  display: block;
  width: 46px;
  height: 20px;
  position: relative;
  background: white;
  border: 1px solid #cccccc;
  border-radius: 40px;
}

.offices__switch label:hover {
  background: #e0dfdf;
  border: 1px solid #909090;
}

.offices__switch label i {
  display: block;
  height: 16px;
  width: 17px;
  position: absolute;
  left: 0;
  top: 1px;
  z-index: 2;
  border-radius: inherit;
  background: #b2ac9e; /* Fallback */
  background: linear-gradient(#f7f2f6, #b2ac9e);
  box-shadow:
          inset 0 1px 0 white,
          0 0 8px rgba(0,0,0,0.3),
          0 5px 5px rgba(0,0,0,0.2);
}

.offices__switch input:checked ~ label {
  background: $accent-color;
}

.offices__switch input:checked ~ label:hover {
  background: $accent-color;
}

.offices__switch input:checked ~ label i {
  left: auto;
  right: -1%;
}

.offices__search-form {
  display: flex;
}

.offices__search {
  width: 332px;
  height: 40px;
  border-top-left-radius: 14px;
  border-bottom-left-radius: 14px;
  border: 1px solid #b2b2b2;
  font-size: 16px;
  padding-left: 18px;
  color: #4c4c4c;
  outline: none;
  box-shadow: inset 3px 3px 10px rgba(0, 0, 0, 0.2);
}


.offices__search-but {
  border: 1px solid #b2b2b2;
  width: 48px;
  height: 40px;
  border-top-right-radius: 14px;
  border-bottom-right-radius: 14px;
  cursor: pointer;
  background: $accent-color url(../img/searchIcon.png) no-repeat 13px 9px;
  outline: none;
  box-shadow: inset -2px 3px 10px rgba(0, 0, 0, 0.2);
}

.offices__search-but:active {
  background-color: $accent-color;
}

.offices__items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 21px;
}

.offices__items-show {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}


.offices__item {
  position: relative;
  width: 283px;
  height: 178px;
  border-radius: 13px;
  background: linear-gradient(to top, #1b8bb3, #38bbec);
  display: flex;
  flex-direction: column;
  padding: 27px 5px 5px 91px;
  color: white;
  margin-bottom: 20px;
  p {
    font-size: 16px;
    margin-top: 11px;
    width: 265px;
  }
}

.offices__item:hover {
  background: linear-gradient(to top, #1b8bb3, #38bbec);
}

.offices__but {
  width: 100px;
  padding: 5px 35px;
  border-radius: 2px;
  text-transform: uppercase;
  background-color: #fff;
  color: #00aeef;
  font-size: 16px;
  margin-bottom: 0;
}

.offices__but:hover {
  background-color: #e5e5e5;
}

.office__title1 {
  font-family: CoreSans65, Arial, sans-serif;
  margin-top: 7px;
  width: 211px;
  font-size: 22px;
  margin-bottom: 0;
}

.office__title3 {
  font-family: CoreSans65, Arial, sans-serif;
  margin: 20px 0 12px;
}

.offices__item1:before,
.offices__item2:before,
.offices__item3:before,
.offices__item4:before,
.offices__item5:before,
.offices__item6:before,
.offices__item7:before,
.offices__item8:before,
.offices__item9:before,
.offices__item10:before,
.offices__item11:before,
.offices__item12:before,
.offices__item13:before,
.offices__item14:before,
.offices__item15:before {
  position: absolute;
  content: "";
  top: 40px;
  left: 21px;
}

.offices__item1:before {
  width: 54px;
  height: 42px;
  background-image: url(../img/drops.png);
}

.offices__item2:before {
  width: 41px;
  height: 42px;
  background-image: url(../img/syringe.png);
}

.offices__item3:before {
  width: 42px;
  height: 42px;
  background-image: url(../img/stomach.png);
}

.offices__item4:before {
  width: 45px;
  height: 42px;
  background-image: url(../img/heart.png);
}

.offices__item5:before {
   width: 42px;
   height: 42px;
   background-image: url(../img/tablet.png);
 }

.offices__item6:before {
  width: 32px;
  height: 42px;
  background-image: url(../img/microscope.png);
}

.offices__item7:before {
  width: 32px;
  height: 48px;
  background-image: url(../img/ear.png);
}

.offices__item8:before {
  width: 64px;
  height: 43px;
  background-image: url(../img/massage.png);
}

.offices__item9:before {
  width: 45px;
  height: 45px;
  background-image: url(../img/cross.png);
}

.offices__item10:before {
  width: 54px;
  height: 43px;
  background-image: url(../img/brain.png);
}

.offices__item11:before {
  width: 50px;
  height: 47px;
  background-image: url(../img/brain2.png);
}

.offices__item12:before {
  width: 43px;
  height: 41px;
  background-image: url(../img/magnifier.png);
}

.offices__item13:before {
  width: 43px;
  height: 43px;
  background-image: url(../img/ribs.png);
}

.offices__item14:before {
  width: 46px;
  height: 42px;
  background-image: url(../img/eye.png);
}

.offices__item15:before {
  width: 33px;
  height: 48px;
  background-image: url(../img/bear.png);
}

.offices__button {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 65px;
}

.offices__title-green {
  font-size: 45px;
  color: $accent-color;
  line-height: 64px;
}