.slider__slide {
  background: url(../img/slide1.jpg) no-repeat center / cover;
  height: 500px;
}

.slider__wrap {
  width: 1179px;
  margin: 0 auto;
  height: 500px;
  position: relative;
}

.slider__description {
  width: 890px;
  position: absolute;
  transition: opacity 0.8s ease 1s;
  top: 100px;
  left: 50px;
  opacity: 0;
  margin: 0;
  z-index: 10;
  color: black;
  font-size: 48px;
  font-family: CoreSans65, Arial, sans-serif;
}

.slick-active .slider__description {
  opacity: 1;
}

.slide2 {
  background: url(../img/slide21.jpg) no-repeat center / cover;
  height: 310px;
  position: relative;
}

.slider__price {
  text-transform: uppercase;
  font-size: 30px;
  font-family: CoreSans65, Arial, sans-serif;
  color: white;
  text-align: center;
  line-height: 50px;
  width: 262px;
  height: 50px;
  position: absolute;
  top: 250px;
  left: -50px;
  z-index: 10;
  background-image: url(../img/figure.png);
  opacity: 0;
  transition-property: opacity, left;
  transition-duration: 1s;
  transition-timing-function: ease;
  transition-delay: 1s;
}

.slick-active .slider__price {
  opacity: 1;
  left: 50px;
}

.slider__title {
  display: flex;
  align-items: baseline;
  position: absolute;
  top: 53px;
  transition: opacity 0.8s ease 1s;
  opacity: 0;
  h3 {
    margin: 0;
    font-size: 36px;
    color: #233297;
    margin-right: 10px;
  }
}

.slick-active .slider__title {
  opacity: 1;
}

.slider__text {
  top: 90px;
  width: 798px;
  position: absolute;
  font-size: 16px;
  line-height: 32px;
  color: #4c4c4c;
  transition: opacity 0.8s ease 1.2s;
  opacity: 0;
}

.slick-active .slider__text {
  opacity: 1;
}

.slider__but {
  position: absolute;
  top: 210px;
  font-size: 14px;
  color: white;
  background-color: #f03720;
  padding: 10px 10px;
  opacity: 0;
  left: -50px;
  transition-property: opacity, left;
  transition-duration: 1s;
  transition-timing-function: ease;
  transition-delay: 1s;
}

.slick-active .slider__but {
  opacity: 1;
  left: 0;
}