.slide {
  background: url(../img/slide1.jpg) no-repeat center / cover;
  height: 500px;
}

.sl-wrap {
  width: 1179px;
  margin: 0 auto;
  height: 500px;
  position: relative;
}

.galleries__description {
  width: 890px;
  position: absolute;
  transition: opacity 1s, bottom .7s;
  top: 100px;
  left: 50px;
  opacity: 0;
  margin: 0;
  z-index: 10;
  color: black;
  font-size: 48px;
  font-family: robotoblack, Arial, sans-serif;
}

.galleries__description-active{
  opacity: 1;
}

.slide2 {
  background: url(../img/slide21.jpg) no-repeat center / cover;
  height: 310px;
  position: relative;
}

.slide2:hover .galleries__description{
  bottom: 140px;
  opacity: 1;
  left: 0;
}