.slide {
  background: url(../img/slide1.jpg) no-repeat center / cover;
  height: 500px;
  position: relative;
}

.sl-wrap {
  width: 1179px;
  margin: 0 auto;

}

.galleries__description {
  width: 100%;
  position: absolute;
  transition: opacity .2s, bottom .7s;
  bottom: 100px;
  left: 0;
  opacity: 0;
  margin: 0;
  z-index: 10;
  text-align: center;
  color: black;
  font-size: 16px;
}

.slide:hover .galleries__description{
  bottom: 140px;
  opacity: 1;
  left: 0;
}

.slide2 {
  background: url(../img/slide21.jpg) no-repeat center / cover;
  height: 310px;
  position: relative;
}

.slide2:hover .galleries__description{
  bottom: 140px;
  opacity: 1;
  left: 0;
}